<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>404 - Página não encontrada</title>
        <style>
            @import url("https://fonts.googleapis.com/css?family=Roboto:100&display=swap");
            * {
                font-family: "Roboto", sans-serif;
                box-sizing: border-box;
            }
            html,
            body {
                margin: 0;
                padding: 0;
                width: 100%;
            }
            html {
                height: 100%;
            }
            body {
                min-height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }

            a {
                background-color: #dddddd;
                display: block;
                padding: 0.5em 2em;
                color: #333;
                text-decoration: none;
                transition: all ease-in-out 0.15s;
            }
            a:hover {
                color: white;
                background-color: #333333;
            }
        </style>
    </head>
    <body>
        <h1>OOPS</h1>
        <h2>Erro 404: Página não encontrada</h2>
        <a href="home">Home</a>
    </body>
</html>
